.container {
  height: 250px;
  width: 300px;
  background-color: #69b0bc;
  position: relative;
  text-align: center;
  overflow: hidden;
  border-style: solid;
  border-color: #69b0bc;
}

.row::after {
  clear: both;
  display: table;
}

.column {
  margin: auto;
  float: left;
  padding: 0;
}
.tooth {
  transition: transform 1s ease-in;
}

.tooth_ad .tooth {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.dental-care {
  transition: transform 1s ease-in;
  position: absolute;
  left: -300px;
}

.tooth_ad .dental-care {
  transform: translateX(300px);
}

.with_compassion_txt {
  transition: transform 1s ease-in;
  position: absolute;
  right: -300px;
}

.tooth_ad .with_compassion_txt {
  transform: translateX(-300px);
}

.tooth_ad .main-img {
  position: absolute;
  top: 0px;
  left: 0px;
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.request-btn {
  transition: transform 5s ease-in;
  position: absolute;
  right: 600px;
  z-index: 1;
  bottom: 15%;
}

.tooth_ad .request-btn {
  transform: translateX(460px);
}

.logo {
  transition: transform 4s ease-in;
  position: absolute;
  top: 10px;
  right: 600px;
  z-index: 1;
  bottom: 15%;
}

.tooth_ad .logo {
  transform: translateX(600px);
}
