.container {
  height: 250px;
  width: 300px;
  background-color: #69b0bc;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.row::after {
  clear: both;
  display: table;
}

.column {
  margin: auto;
  float: left;
  padding: 0;
}
.tooth {
  transition: transform 1s ease-in;
}

.tooth_ad .tooth {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.dental_care {
  transition: transform 1s ease-in;
  position: absolute;
  left: -300px;
}

.tooth_ad .dental_care {
  transform: translateX(300px);
}

.with_compassion_txt {
  transition: transform 1s ease-in;
  position: absolute;
  right: -300px;
}

.tooth_ad .with_compassion_txt {
  transform: translateX(-300px);
}

.main_img {
  transition: transform 3s ease-in;
  position: absolute;
  right: -600px;
}

.tooth_ad .main_img {
  transition-delay: 0.3s;
  transform: translateX(-600px);
}

.request_btn {
  transition: transform 4s ease-in;
  position: absolute;
  right: 600px;
  z-index: 1;
  bottom: 15%;
}

.tooth_ad .request_btn {
  transform: translateX(460px);
}
